In [1]:
# 数据的聚合&分组运算
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    'key1':['a','a','b','b','a'],
    'key2':['one','two','one','two','one'],
    'data1':np.random.randn(5),
    'data2':np.random.randn(5)
})
# All arrays must be of the same length
# print(df)
grouped = df['data1'].groupby(df['key1'])
grouped.mean()#求每组平均值

# 传入两个键进行分组，得到层次化索引
# 用来分组的键可以是任意长度的数组
menas = df['data2'].groupby([df['key1'],df['key2']]).mean()
# print(menas)

# 输出分组后的元素
for (k1,k2),group in df.groupby(['key1','key2']):
    print(k1,k2)
    print("============")
    print(group)

# 转成字典
print("+++++++++++++++++++++++")
pieces = dict(list(df.groupby('key1')))
print(pieces)

a one
============
  key1 key2     data1    data2
0    a  one -1.325515 -1.16248
4    a  one  0.471311  0.84228
a two
============
  key1 key2     data1     data2
1    a  two  0.117193 -0.069478
b one
============
  key1 key2     data1     data2
2    b  one -1.579531  0.488375
b two
============
  key1 key2     data1     data2
3    b  two -1.298552 -0.864345
+++++++++++++++++++++++
{'a':   key1 key2     data1     data2
0    a  one -1.325515 -1.162480
1    a  two  0.117193 -0.069478
4    a  one  0.471311  0.842280, 'b':   key1 key2     data1     data2
2    b  one -1.579531  0.488375
3    b  two -1.298552 -0.864345}

In [5]:
# 通过字典进行分组
people = pd.DataFrame(
    np.random.randn(5,5),
    columns=['a','b','c','d','e'],
    index=['Joe','Steve','Wes','Jim','Travis']
)
# people.iloc[2:3,['b','c']] = np.nan
mapping = {
    'a':'red','b':'red','c':'blue',
    'd':'blue','e':'red','f':'orange'
}

by_column = people.groupby(mapping,axis=1)
print(by_column.sum())

            blue       red
Joe    -2.003575 -2.217660
Steve  -1.910548 -0.148063
Wes    -2.091593 -1.534173
Jim    -1.232293  2.339318
Travis  0.691150 -4.624359

In [10]:
s = pd.Series([3,-5,7,4],index=['a','b','c','d'])
data = {'Country':['china','india','brazil'],
'Capital':['beijing','new delhi','brasilia'],
'Population':[1400000000,1303171035,207847528]}

df = pd.DataFrame(data,columns=['Country','Capital','Population'])
df

  Country    Capital  Population
0   china    beijing  1400000000
1   india  new delhi  1303171035
2  brazil   brasilia   207847528

In [14]:
print(s['b'])
print(df[1:])
# print(df.iat([0],[0]))#'_iAtIndexer' object is not callable
# print(df.ix[:'Capital'])'DataFrame' object has no attribute 'ix'
print(df.index,df.columns)

-5
  Country    Capital  Population
1   india  new delhi  1303171035
2  brazil   brasilia   207847528
RangeIndex(start=0, stop=3, step=1) Index(['Country', 'Capital', 'Population'], dtype='object')