In [1]:
# 数据的聚合&分组运算
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    'key1':['a','a','b','b','a'],
    'key2':['one','two','one','two','one'],
    'data1':np.random.randn(5),
    'data2':np.random.randn(5)
})
# All arrays must be of the same length
# print(df)
grouped = df['data1'].groupby(df['key1'])
grouped.mean()#求每组平均值

# 传入两个键进行分组，得到层次化索引
# 用来分组的键可以是任意长度的数组
menas = df['data2'].groupby([df['key1'],df['key2']]).mean()
# print(menas)

# 输出分组后的元素
for (k1,k2),group in df.groupby(['key1','key2']):
    print(k1,k2)
    print("============")
    print(group)

# 转成字典
print("+++++++++++++++++++++++")
pieces = dict(list(df.groupby('key1')))
print(pieces)

a one
============
  key1 key2     data1    data2
0    a  one -1.325515 -1.16248
4    a  one  0.471311  0.84228
a two
============
  key1 key2     data1     data2
1    a  two  0.117193 -0.069478
b one
============
  key1 key2     data1     data2
2    b  one -1.579531  0.488375
b two
============
  key1 key2     data1     data2
3    b  two -1.298552 -0.864345
+++++++++++++++++++++++
{'a':   key1 key2     data1     data2
0    a  one -1.325515 -1.162480
1    a  two  0.117193 -0.069478
4    a  one  0.471311  0.842280, 'b':   key1 key2     data1     data2
2    b  one -1.579531  0.488375
3    b  two -1.298552 -0.864345}

In [5]:
# 通过字典进行分组
people = pd.DataFrame(
    np.random.randn(5,5),
    columns=['a','b','c','d','e'],
    index=['Joe','Steve','Wes','Jim','Travis']
)
# people.iloc[2:3,['b','c']] = np.nan
mapping = {
    'a':'red','b':'red','c':'blue',
    'd':'blue','e':'red','f':'orange'
}

by_column = people.groupby(mapping,axis=1)
print(by_column.sum())

            blue       red
Joe    -2.003575 -2.217660
Steve  -1.910548 -0.148063
Wes    -2.091593 -1.534173
Jim    -1.232293  2.339318
Travis  0.691150 -4.624359

In [10]:
s = pd.Series([3,-5,7,4],index=['a','b','c','d'])
data = {'Country':['china','india','brazil'],
'Capital':['beijing','new delhi','brasilia'],
'Population':[1400000000,1303171035,207847528]}

df = pd.DataFrame(data,columns=['Country','Capital','Population'])
df

  Country    Capital  Population
0   china    beijing  1400000000
1   india  new delhi  1303171035
2  brazil   brasilia   207847528

In [14]:
print(s['b'])
print(df[1:])
# print(df.iat([0],[0]))#'_iAtIndexer' object is not callable
# print(df.ix[:'Capital'])'DataFrame' object has no attribute 'ix'
print(df.index,df.columns)

-5
  Country    Capital  Population
1   india  new delhi  1303171035
2  brazil   brasilia   207847528
RangeIndex(start=0, stop=3, step=1) Index(['Country', 'Capital', 'Population'], dtype='object')

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

#合并数据，merge参数说明P190
df1 = DataFrame({
    "lkey":['b','b','a','c','a','a','b'],
    "data1":range(7)
})

df2 = DataFrame({
    "rkey":['a','b','d'],
    "data2":range(3)
})

data = pd.merge(df1,df2,left_on='lkey',right_on='rkey',how='outer')
print(data)
#默认用重叠的列做键,一个字典中包含多个键，合并时输入键列表
# how指定连接方式，默认内连接
# suffixes用于处理重叠列名（注意是名字，不是变量，只是把相同的名字变一下）

  lkey  data1 rkey  data2
0    b    0.0    b    1.0
1    b    1.0    b    1.0
2    b    6.0    b    1.0
3    a    2.0    a    0.0
4    a    4.0    a    0.0
5    a    5.0    a    0.0
6    c    3.0  NaN    NaN
7  NaN    NaN    d    2.0

In [7]:
#轴向连接,concat参数说明P198
s1 = Series([1,2],index=['a','b'])
s2 = Series([3,4,5],index=['c','d','e'])
s3 = Series([6,7],index=['f','g'])
result = pd.concat([s1,s2,s3],keys=['one','two','three'],axis=0)
#默认axies=0竖向拼接得到series；axies=1生成DataFrame（表格型数据结构，既有行索引，也有列索引，可看作series组成的字典）
#参数join=inner生成交集，join_axes指定在其他轴上合并，keys在连接轴上创建层次化索引
# result.unstack()
type(result)

pandas.core.series.Series

In [8]:
# combine_first用参数对象的数据为调用对象的数据打补丁
df1 = DataFrame({
    'a':[1,np.nan,5,np.nan],
    'b':[np.nan,2,np.nan,6],
    's':range(2,18,4)
})
df2 = DataFrame({
    'a':[1,5,np.nan,np.nan,7],
    'b':[np.nan,2,11,np.nan,6]
})
result = df1.combine_first(df2)
result

     a     b     s
0  1.0   NaN   2.0
1  5.0   2.0   6.0
2  5.0  11.0  10.0
3  NaN   6.0  14.0
4  7.0   6.0   NaN