In [1]:
import sqlite3

# 打开或创建数据库文件
conn = sqlite3.connect("test.db")
# 获取游标，建立连接
c = conn.cursor()
# 执行sql语句
sql = '''
    create table company
    (
        id int primary key not null,
        name text not null,
        age int not null,
        address text not null,
        salary real
    );
'''
c.execute(sql)
# 提交操作
conn.commit()
# 关闭数据库
conn.close()
print("执行完毕")

执行完毕

In [3]:
# 插入数据
conn = sqlite3.connect("test.db")
# 获取游标，建立连接
c = conn.cursor()
# 执行sql语句
sql = '''
    insert into company (id,name,age,address,salary)
    values (1,'mike',12,'beijing',10000),
    (2,'alice',12,'tianjing',10000);
'''
c.execute(sql)
# 提交操作
conn.commit()
# 关闭数据库
conn.close()
print("执行完毕")

执行完毕

In [1]:
import sqlite3

# 查询数据
conn = sqlite3.connect("test.db")
# 获取游标，建立连接
c = conn.cursor()
# 执行sql语句
sql = '''
    select * from company;
'''
# 获取查询结果
cou = c.execute(sql)
print(type(cou))
for i in cou:
    # 返回的是tuple
    print(type(i))
    print("名字：",i[1])
    print("工资：",i[4])
# 关闭数据库
conn.close()
print("查询完毕")

<class 'sqlite3.Cursor'>
<class 'tuple'>
名字： mike
工资： 10000.0
<class 'tuple'>
名字： alice
工资： 10000.0
查询完毕